body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media screen and (max-width: 576px) {
  body,
html {
    overflow-y: scroll;
  }
}

.container-fluid {
  position: relative;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.text-white {
  color: hsl(0deg, 0%, 100%);
}

.bg-white {
  background-color: hsl(0deg, 0%, 100%);
}

.text-white-10 {
  color: hsl(0deg, 0%, 10%);
}

.bg-white-10 {
  background-color: hsl(0deg, 0%, 10%);
}

.text-white-17 {
  color: hsl(0deg, 0%, 17%);
}

.bg-white-17 {
  background-color: hsl(0deg, 0%, 17%);
}

.text-white-25 {
  color: hsl(0deg, 0%, 25%);
}

.bg-white-25 {
  background-color: hsl(0deg, 0%, 25%);
}

.text-white-50 {
  color: hsl(0deg, 0%, 50%);
}

.bg-white-50 {
  background-color: hsl(0deg, 0%, 50%);
}

.text-lavender {
  color: hsl(231deg, 77%, 90%);
}

.bg-lavender {
  background-color: hsl(231deg, 77%, 90%);
}

.text-dark {
  color: hsl(230deg, 35%, 7%);
}

.bg-dark {
  background-color: hsl(230deg, 35%, 7%);
}

h1,
h2,
h3,
h4,
.subheading-1 {
  font-family: "Bellefair", serif;
}

h5,
.subheading-2,
.nav-text {
  font-family: "Barlow Condensed", sans-serif;
}

.body-text {
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 100px;
  line-height: 1.15;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 80px;
  }
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 56px;
  }
}

h3 {
  font-size: 56px;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  h5 {
    font-size: 16px;
  }
}

.subheading-1 {
  font-size: 28px;
}

.subheading-2 {
  font-size: 14px;
  letter-spacing: 2.35px;
}

.nav-text {
  font-size: 16px;
  letter-spacing: 2.7px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .nav-text {
    font-size: 14px;
  }
}

.body-text {
  font-size: 18px;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .body-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .body-text {
    font-size: 15px;
  }
}

* {
  text-transform: uppercase;
}

.body-text {
  text-transform: none;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: hsl(0deg, 0%, 50%);
}
a:active {
  text-decoration-color: hsl(0deg, 0%, 100%);
}

.active-nav-link,
.active-nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: hsl(0deg, 0%, 100%);
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-middle {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-md-center {
  text-align: start;
}
@media screen and (max-width: 768px) {
  .text-md-center {
    text-align: center;
  }
}

.rounded-circle {
  border-radius: 50%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.opacity-1 {
  opacity: 0.1;
}

.navbar-top {
  margin: 40px 0;
  height: 96px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .navbar-top {
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .navbar-top {
    height: 88px;
  }
}

.nav-icon,
.nav-icon-img {
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 576px) {
  .nav-icon,
.nav-icon-img {
    width: 40px;
    height: 40px;
  }
}

.nav-icon {
  margin-left: 3.8194444444%;
}
@media screen and (max-width: 768px) {
  .nav-icon {
    margin-left: 5.078125%;
  }
}
@media screen and (max-width: 576px) {
  .nav-icon {
    margin-left: 6.4%;
  }
}

.nav-line {
  width: 32.8472222222%;
  height: 1px;
  background-color: hsl(0deg, 0%, 25%);
  margin-left: 4.4444444444%;
  margin-right: -30px;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  .nav-line {
    display: none;
  }
}

.navbar-top > .nav-list {
  width: 57.6%;
  min-width: 690px;
  height: 96px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  padding-left: 8.5%;
}
@media screen and (max-width: 576px) {
  .navbar-top > .nav-list .nav-item {
    height: 52px;
  }
}
.navbar-top > .nav-list .nav-item:not(:last-child) {
  padding-right: max(20px, 6.5%);
}
@media screen and (max-width: 576px) {
  .navbar-top > .nav-list .nav-item:not(:last-child) {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .navbar-top > .nav-list {
    width: 58.59375%;
    min-width: 450px;
    padding: 0 6.25%;
  }
}
@media screen and (max-width: 576px) {
  .navbar-top > .nav-list {
    width: 67.7%;
    min-width: 180px;
    height: 100vh;
    position: absolute;
    display: block;
    margin-top: 0;
    padding-left: 8.5%;
    padding-top: 118px;
    top: 0;
    right: -67.7%;
    transition: 1s ease right;
  }
  .navbar-top > .nav-list .nav-item {
    padding-bottom: 32px;
  }
}

.navbar-top .nav-item > a {
  padding-top: 39px;
  text-underline-offset: 37px;
  height: 100%;
}
@media screen and (max-width: 576px) {
  .navbar-top .nav-item > a {
    height: 51px;
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: hsl(0deg, 0%, 50%);
  }
}

@media screen and (max-width: 576px) {
  .navbar-top .nav-text {
    padding-top: 0px;
  }
}

.nav-num {
  font-weight: bold;
}
@media (min-width: 576px) and (max-width: 768px) {
  .nav-num {
    display: none;
  }
}

.nav-toggle-icon {
  position: absolute;
  z-index: 9999;
  display: none;
}
@media screen and (max-width: 576px) {
  .nav-toggle-icon {
    display: block;
    right: 6.4%;
    top: 33px;
  }
}

.nav-toggle-icon,
.nav-toggle-icon-img {
  width: 22px;
  height: 22px;
}

.navbar.responsive .nav-list {
  right: 0;
  transition: 1s ease right;
  z-index: 9999;
}

.bg-home {
  /* Full height */
  width: 100%;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/home/background-home-desktop.jpg");
}
@media screen and (max-width: 768px) {
  .bg-home {
    background-image: url("../../assets/images/home/background-home-tablet.jpg");
  }
}
@media screen and (max-width: 576px) {
  .bg-home {
    background-image: url("../../assets/images/home/background-home-mobile.jpg");
  }
}

.home.container-fluid {
  margin-top: 190px;
}
@media screen and (max-width: 768px) {
  .home.container-fluid {
    margin-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .home.container-fluid {
    margin-top: 20px;
  }
}

.main-text-container {
  max-width: 448px;
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .main-text-container {
    margin: 0 auto;
  }
}
.main-text-container h5 {
  padding: 0 0.3em;
}
.main-text-container h1 {
  margin-top: 0.2em;
  line-height: 1.2;
}
@media screen and (max-width: 576px) {
  .main-text-container h1 {
    font-size: 80px;
  }
}
.main-text-container .body-text {
  margin-top: 1.2em;
  padding: 0 0.5em;
}
@media screen and (max-width: 768px) {
  .main-text-container .body-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .main-text-container .body-text {
    font-size: 15px;
  }
}

.btn-container,
.btn-bg {
  width: 274px;
  height: 274px;
}
@media screen and (max-width: 768px) {
  .btn-container,
.btn-bg {
    width: 242px;
    height: 242px;
  }
}
@media screen and (max-width: 576px) {
  .btn-container,
.btn-bg {
    width: 150px;
    height: 150px;
  }
}

.btn-container {
  margin-right: 15%;
}
.btn-container:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .btn-container {
    margin: 130px auto;
  }
}
@media screen and (max-width: 576px) {
  .btn-container {
    margin: 70px auto;
  }
}
.btn-container .btn-bg.bg-white h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 576px) {
  .btn-container .btn-bg.bg-white h4 {
    font-size: 20px;
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
.expand-ani {
  animation: expand 1s 1 ease forwards;
}

.shrink-ani {
  animation: shrink 1s 1 ease forwards;
}

.bg-destination {
  /* Full height */
  width: 100%;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/images/destination/background-destination-desktop.jpg");
}
@media screen and (max-width: 768px) {
  .bg-destination {
    background-image: url("../../assets/images/destination/background-destination-tablet.jpg");
  }
}
@media screen and (max-width: 576px) {
  .bg-destination {
    background-image: url("../../assets/images/destination/background-destination-mobile.jpg");
  }
}

.header-line {
  left: 11.5%;
  top: 212px;
}
@media screen and (max-width: 768px) {
  .header-line {
    left: 5%;
    top: 136px;
  }
}
@media screen and (max-width: 576px) {
  .header-line {
    position: relative;
    left: 0;
    top: 10px;
    text-align: center;
  }
}

.header-num {
  color: hsl(0deg, 0%, 25%);
}

.destination-picture-container,
.destination-picture-container > img {
  width: 445px;
  height: 445px;
}
@media screen and (max-width: 768px) {
  .destination-picture-container,
.destination-picture-container > img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 576px) {
  .destination-picture-container,
.destination-picture-container > img {
    width: 170px;
    height: 170px;
  }
}

.destination-picture-container {
  margin-top: 180px;
  margin-left: 14%;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .destination-picture-container {
    margin: 90px auto 50px;
  }
}
@media screen and (max-width: 576px) {
  .destination-picture-container {
    margin: 35px auto;
  }
}

.destination-text-container {
  margin-right: 11.3%;
  max-width: 445px;
}
@media screen and (max-width: 768px) {
  .destination-text-container {
    margin: 0 auto;
    max-width: 573px;
  }
}
@media screen and (max-width: 576px) {
  .destination-text-container {
    max-width: 327px;
  }
}
@media screen and (max-width: 768px) {
  .destination-text-container .navbar-middle {
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .destination-text-container .navbar-middle {
    justify-content: space-evenly;
  }
}
.destination-text-container .navbar-middle .nav-item:not(:last-child) {
  padding-right: 2em;
}
@media screen and (max-width: 576px) {
  .destination-text-container .navbar-middle .nav-item:not(:last-child) {
    padding-right: 0.6em;
  }
}
.destination-text-container .navbar-middle a {
  font-size: 16px;
  text-underline-offset: 0.7em;
}
@media screen and (max-width: 576px) {
  .destination-text-container .navbar-middle a {
    font-size: 14px;
  }
}
.destination-text-container h2 {
  padding-top: 0.6em;
}
.destination-text-container .text-description {
  border-bottom: 1px solid #383b4b;
  padding-top: 15px;
  padding-bottom: 54px;
}
@media screen and (max-width: 768px) {
  .destination-text-container .text-description {
    padding-top: 16px;
    padding-bottom: 49px;
  }
}
@media screen and (max-width: 576px) {
  .destination-text-container .text-description {
    padding-top: 15px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 768px) {
  .destination-text-container .text-data {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 576px) {
  .destination-text-container .text-data {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 58px;
  }
}
.destination-text-container .distance,
.destination-text-container .travel-time {
  margin-top: 29px;
}
@media screen and (max-width: 576px) {
  .destination-text-container .distance,
.destination-text-container .travel-time {
    margin-top: 33px;
  }
}
.destination-text-container .distance {
  margin-right: 18%;
}
@media screen and (max-width: 768px) {
  .destination-text-container .distance {
    margin-right: 0;
  }
}
.destination-text-container .figure {
  padding-top: 12px;
}

.active-nav-link {
  color: hsl(0deg, 0%, 100%);
}

.bg-crew {
  background: linear-gradient(to bottom, rgba(11, 13, 23, 0.6), rgba(11, 13, 23, 0.7)), url("../../assets/images/crew/background-crew-desktop.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .bg-crew {
    background: linear-gradient(to bottom, rgba(11, 13, 23, 0.6), rgba(11, 13, 23, 0.7)), url("../../assets/images/crew/background-crew-tablet.jpg");
  }
}
@media screen and (max-width: 576px) {
  .bg-crew {
    background: linear-gradient(to bottom, rgba(11, 13, 23, 0.7), rgba(11, 13, 23, 0.8)), url("../../assets/images/crew/background-crew-mobile.jpg");
  }
}

.crew.container-fluid {
  height: 804px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .crew.container-fluid {
    margin-top: 110px;
    height: 820px;
  }
}
@media screen and (max-width: 576px) {
  .crew.container-fluid {
    margin-top: 20px;
    height: 590px;
    justify-content: start;
  }
}
.crew.container-fluid .text-container {
  margin-left: 10.4%;
  margin-bottom: 94px;
}
@media screen and (max-width: 768px) {
  .crew.container-fluid .text-container {
    margin-left: 0;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 576px) {
  .crew.container-fluid .text-container {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 270px;
  }
}
@media screen and (max-width: 576px) {
  .crew.container-fluid .text-container .crew-title {
    margin-top: 40px;
  }
}
.crew.container-fluid .text-container .text-heading {
  margin-top: 15px;
  margin-bottom: 26px;
}
@media screen and (max-width: 768px) {
  .crew.container-fluid .text-container .text-heading {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
.crew.container-fluid .text-container .text-description {
  max-width: 444px;
}
@media screen and (max-width: 576px) {
  .crew.container-fluid .text-container .text-description {
    max-width: 327px;
  }
}
@media screen and (max-width: 576px) {
  .crew.container-fluid .text-container .navbar-middle {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .crew.container-fluid .text-container .navbar-middle .nav-list {
    margin: 0 auto;
  }
}
.crew.container-fluid .text-container .navbar-middle .nav-list .nav-item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  .crew.container-fluid .text-container .navbar-middle .nav-list .nav-item:not(:last-child) {
    margin-right: 16px;
  }
}
.crew.container-fluid .text-container .navbar-middle .nav-list .nav-item a {
  width: 15px;
  height: 15px;
  margin-top: 120px;
  margin-bottom: 94px;
}
@media screen and (max-width: 768px) {
  .crew.container-fluid .text-container .navbar-middle .nav-list .nav-item a {
    width: 10px;
    height: 10px;
    margin-top: 35px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .crew.container-fluid .text-container .navbar-middle .nav-list .nav-item a {
    margin: 0 auto;
  }
}
.crew.container-fluid .text-container .navbar-middle .nav-list .nav-item a:hover {
  background-color: hsl(0deg, 0%, 50%);
}
.crew.container-fluid .text-container .navbar-middle .nav-list .nav-item a:active {
  background-color: hsl(0deg, 0%, 100%);
}
.crew.container-fluid .picture-container {
  width: 619px;
  height: 712px;
  bottom: 0;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .crew.container-fluid .picture-container {
    width: 530px;
    height: 532px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .crew.container-fluid .picture-container {
    position: absolute;
    top: 20px;
    width: 327px;
    height: 223px;
    border-bottom: 1px solid hsl(231deg, 25%, 29%);
  }
}
.crew.container-fluid .picture-container img {
  bottom: 0;
  max-width: 619px;
  max-height: 712px;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .crew.container-fluid .picture-container img {
    height: 532px;
  }
}
@media screen and (max-width: 576px) {
  .crew.container-fluid .picture-container img {
    height: 223px;
  }
}

.crew .active-nav-link {
  background-color: hsl(0deg, 0%, 100%);
}

.bg-technology {
  background-image: url("../../assets/images/technology/background-technology-desktop.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .bg-technology {
    background-image: url("../../assets/images/technology/background-technology-tablet.jpg");
  }
}
@media screen and (max-width: 576px) {
  .bg-technology {
    background-image: url("../../assets/images/technology/background-technology-mobile.jpg");
  }
}

.technology.container-fluid {
  align-items: start;
  justify-content: start;
  margin-top: 247px;
  margin-left: 10%;
  margin-right: 0;
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  .technology.container-fluid {
    margin-top: 120px;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .technology.container-fluid {
    height: 570px;
    margin-top: 40px;
  }
}
.technology.container-fluid .nav-item,
.technology.container-fluid .nav-item > a {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 768px) {
  .technology.container-fluid .nav-item,
.technology.container-fluid .nav-item > a {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 576px) {
  .technology.container-fluid .nav-item,
.technology.container-fluid .nav-item > a {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .technology.container-fluid .nav-list {
    margin-top: 360px;
    flex-direction: row;
  }
}
@media screen and (max-width: 576px) {
  .technology.container-fluid .nav-list {
    margin-top: 200px;
  }
}
.technology.container-fluid .nav-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .technology.container-fluid .nav-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
.technology.container-fluid .nav-item > a {
  border: 1px solid hsl(0deg, 0%, 25%);
}
.technology.container-fluid .nav-item > a h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.technology.container-fluid .active-nav-link {
  background-color: hsl(0deg, 0%, 100%);
}
.technology.container-fluid .active-nav-link h4 {
  color: #0b0d17;
}
.technology.container-fluid .text-container {
  margin-left: 5.4%;
}
@media screen and (max-width: 768px) {
  .technology.container-fluid .text-container {
    margin-top: 50px;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .technology.container-fluid .text-container {
    margin-top: 20px;
  }
}
.technology.container-fluid .text-container .technology-heading {
  margin-top: 11px;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .technology.container-fluid .text-container .technology-heading {
    margin-top: 16px;
  }
}
@media screen and (max-width: 576px) {
  .technology.container-fluid .text-container .technology-heading {
    margin-top: 9px;
  }
}
.technology.container-fluid .text-container .technology-description {
  max-width: 444px;
}
@media screen and (max-width: 768px) {
  .technology.container-fluid .text-container .technology-description {
    max-width: 458px;
  }
}
@media screen and (max-width: 576px) {
  .technology.container-fluid .text-container .technology-description {
    max-width: 327px;
  }
}
.technology.container-fluid .picture-container {
  right: 144px;
  top: -111px;
}
@media screen and (max-width: 768px) {
  .technology.container-fluid .picture-container {
    right: 0;
    top: 0;
  }
}
.technology.container-fluid .picture-container,
.technology.container-fluid .picture-container > img {
  width: 515px;
  height: 527px;
}
@media screen and (max-width: 768px) {
  .technology.container-fluid .picture-container,
.technology.container-fluid .picture-container > img {
    width: 100%;
    height: 310px;
    object-fit: cover;
  }
}
@media screen and (max-width: 576px) {
  .technology.container-fluid .picture-container,
.technology.container-fluid .picture-container > img {
    width: 100%;
    height: 170px;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
